{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Contacts</h1>
            <h3>Contacts list make in Django.</h3>
            <p>The project contains:</p>
            <ul>
            <li>Core App</li>
            <li>Person Model</li>
            <li>Person List</li>
            <li>Person Detail</li>
            <li>Person Form</li>
            <li>Person Admin</li>
            <li>API REST</li>
            <li>Tests with Selenium</li>
            <li>Fixtures with Generate Random Values</li>
            <li>New commands with django-admin</li>
            <li>Gráficos</li>
            </ul>
        </div>
    </div>
{% endblock content %}
