{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <h3>Contacts list make in Django.</h3>
            <p>The project contains:</p>
            <ul>
            <li>Core App</li>
            <li>Person Model</li>
            <li>Person List</li>
            <li>Person Detail</li>
            <li>Person Form</li>
            <li>Person Admin</li>
            <li>Tests with Selenium</li>
            <li>Fixtures with Generate Random Values</li>
            </ul>
            <a href="{% url 'core:person_add' %}">
              <button id="new_customer" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Register
              </button>
            </a>
        </div>
    </div>
{% endblock content %}
